# Définir un nom
name: Laravel CI

#Definir les triggers
on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            # 1- Recuperer le code source
            - name: Recuperer le code source
              uses: actions/checkout@v5

            # 2 Executer les tests

            - name: Run tests

              run: cd app && composer install && cp .env.example .env && php artisan key:gen && php artisan test

              # 3 construire l'image

            - name: Build app image

              run: docker build -t stalicia/laravel_cicd:latest .

              # 4 Se connecter à docker hub

            - name: Login to Container Registry
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}

            # 5 Pousser l'image sur la registry

            - name: Push image
              run: docker push stalicia/laravel_cicd:latest